.image {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border: 15px solid var(--tertiary-color);
  object-fit: contain;
  background-color: white;
  margin: 20px;
}

.item-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex: 1;
}

.items-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
