<div class="d-flex flex-column p-3 secondary-background flex-align-center shadow ">
  <div class="d-flex flex-column justify-content-center align-items-center">
    <h2 class="pacifico-regular">{{title}}</h2>
    <p>{{description}}</p>
  </div>
  <div class="items-container">
    <div class="d-flex flex-column item-container">
      <img src="{{imageOne}}" alt="" class="image">
      <h3>{{subTitleOne}}</h3>
      <p>{{subDescriptionOne}}</p>
    </div>
    <div class="d-flex flex-column item-container">
      <img src="{{imageTwo}}" alt="" class="image">
      <h3>{{subTitleTwo}}</h3>
      <p>{{subDescriptionTwo}}</p>
  </div>
    <div class="d-flex flex-column item-container">
      <img src="{{imageThree}}" alt="" class="image">
      <h3>{{subTitleThree}}</h3>
      <p>{{subDescriptionThree}}</p>
      </div>
  </div>
</div>
