
<div class="row rounded-corners secondary-background shadow p-1 ">
  <div class="col p-2 d-flex justify-content-center align-items-center">
    <ng-container *ngIf="project.image.endsWith('.mp4'); else imageBlock">
      <video autoplay loop class="img-fluid rounded-corners shadow" style="width: 250px; height: auto;">
        <source src="{{project.image}}" type="video/mp4">
        Your browser does not support the video tag.
      </video>
    </ng-container>
    <ng-template #imageBlock>
      <img src="{{project.image}}" alt="{{project.name}}" class="img-fluid rounded-corners shadow">
    </ng-template>
  </div>

  <div class="col p-2">
    <h4 class="tertiary-background rounded-corners shadow p-1 text-center">{{project.name}} - {{project.date}}</h4>
    <h5>Description:</h5>
    <ul>
      <li *ngFor="let description of project.descriptions">{{description}}</li>
    </ul>
    <h5>Technologies:</h5>
    <p>{{project.technologies}}</p>
    <h5>Environments:</h5>
    <p>{{project.environments}}</p>
    <h5>Check it out:</h5>
    <a href="{{project.url}}" target="_blank"><p>{{project.url}}</p></a>
  </div>

</div>
