<div class="hero-container d-flex flex-column align-items-start justify-content-center p-4">
  <div class="d-flex flex-column align-items-start justify-content-center p-4 mb-5 text-white">
    <h1 class="pacifico-regular">Jared Williams</h1>
    <p>{{bio}}</p>
    <div class="d-flex flex-row justify-content-between">
      <a href="https://github.com/JaredjWilliams" target="_blank"><li class="fab fa-github icon m-1 p-1 text-light onHover"></li></a>
      <a href="https://linkedin.com/in/jared-williams-01a393209" target="_blank"><li class="fab fa-linkedin icon m-1 p-1 text-light onHover"></li></a>
      <a routerLink="/contact"><li class="fa fa-envelope icon m-1 p-1 text-light onHover"></li></a>
    </div>
  </div>

</div>
