<app-hero-section
[bio] = "bio"
></app-hero-section>
<app-block-text-right-pic-left
  [image] = "avatar"
  [title] = "'About Me'"
  [description] = "RESUME_TEXT"
>
</app-block-text-right-pic-left>
<app-three-circle-center
[title] = "'Development History'"
[imageOne]= "'./assets/mungomash_logo.png'"
[subTitleOne]= "'MungoMash LLC'"
[subDescriptionOne]= "'I started my journey as a software developer at MungoMash LLC as ab apprentice'"
[imageTwo]= "'./assets/republic_airways_logo.png'"
[subTitleTwo]= "'MungoMash LLC'"
[subDescriptionTwo]= "'I then was invited to join as a full time contractor where I developed Republic Airways crewmember mobile application '"
[imageThree]= "'./assets/fasttracked_logo.png'"
[subTitleThree]= "'FastTracked'"
[subDescriptionThree]= "'Currently I am a student in the Fasttracked program with Cook Systems'"
>
</app-three-circle-center>

<app-block-image-span-items-arrayed
  [title] = "'Skills'"
  [image] = "'./assets/coding_image.png'"
  [items] = "[]"
>

</app-block-image-span-items-arrayed>

