
<div class="container">
  <div>
    <img src="./assets/running_photo.jpg" class="img-thumbnail rounded-corners img-fluid float-right w-50 shadow m-2">
  </div>

  <h2 class="pacifico-regular">About Me</h2>
  <p>
    I began my software development journey while I was teaching a Preparing Colleges and Careers class at a local high school.
    Part of our curriculum was administering a career interest test to help students identify potential career paths post college or high school .
    I took the test myself and it suggested that I would be a good fit for a career in software development.
  </p>

  <h4>Mungomash Apprenticeship</h4>
  <p>
    I started working at Mungomash later that summer as an apprentice. In this role I was able to learn the basics of software development and web development through a series of projects.
  </p>

  <h4>Junior Mobile Developer</h4>
  <p>
    After my apprenticeship I was hired as a Junior Developer where I worked on a mobile application for a regional airline.
  </p>

  <h4>Fasttracked Program</h4>
  <p>
    My contract with the regional airline ended and I was offered a position in the Fasttracked program at Cook Systems.
    In this program I was able to refine my skills in software development and web development.
  </p>

  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Hobbies</h5>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Reading</li>
        <li class="list-group-item">Running</li>
        <li class="list-group-item">Pickle ball</li>
      </ul>
    </div>
  </div>

</div>


