/* You can add global styles to this file, and also import other style files */
@import url(https://unpkg.com/bootstrap@4.6.0/dist/css/bootstrap.min.css);
@import "../node_modules/@fortawesome/fontawesome-free/css/all.css";

:root {
  --tertiary-color: #76885B;
  --secondary-color: #DDDDDD;
}

.visualizer {
  border: 2px solid black;
  padding: 2px;
}

.fit-screen {
  height: 100vh;
}

.rounded-corners {
  border-radius: 10px;
}

.shadow {
  box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.3);
}

.icon {
  font-size: 24px;
  width: 24px;
  height: 24px;
}

.pacifico-regular {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}

@keyframes fadein {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.fade-in {
  animation: fadein 1.5s ease-in-out;
}




.primary-background {
  background-color: #eeeeee;
}

.secondary-background {
  background-color: #DDDDDD;
}

.tertiary-background {
  background-color: #76885B;
}

.quaternary-background {
  background-color: #627254;
}



